body {
    font-family: 'Philosopher', sans-serif;
    overflow-x: hidden;
}

.navbar {
    background-color: rgb(15, 70, 19);
}
.title {
    font-family: 'Playfair Display', serif;

    color: white;
}

.clientes {
    font-size: 45px;
    
}

.pesquisar:hover {
   background-color:  rgb(15, 70, 19);
}

#icones-nav a,
#login a {
    color: #fff;
    
}


.icone1 {
    margin-right: 30px;
}


.slide1 {
    height: 450px;
    width: 100%;

}