body {
    font-family: 'Philosopher', sans-serif;
    overflow-x: hidden;
}


.title {
    font-family: 'Playfair Display', serif;

    color: white;
}


#icones-nav a,
#login a {
    color: #fff;
    
}


.icone1 {
    margin-right: 30px;
}


.slide1 {
    height: 300px;
    width: 100%;

}